<template>
  <div id="nav">
    <div v-if="!metamask_install_status">
      Please install Metamask to play.
    </div>
    <div v-else>
      <div v-if="!metamask_setup_correct" class="pt-10">
        <button @click="connect_metamask()" class="mx-auto bg-green-500 hover:bg-green-600 w-fit flex items-center justify-center text-white py-2.5 px-4 rounded-lg font-medium text-base">Connect Metamask</button>
        <div v-if="error_message.error">
          <p class="text-center text-red-700 text-lg font-medium">{{ error_message.err_msg}}</p>
        </div>
        <h5 class="text-center text-lg font-medium">Please connect metamask + avalanche mainnet</h5>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, computed, onMounted } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import Web3 from '~/utils/web3_utils'


export default defineComponent({
  name: 'auth',
  setup() {
    const store = useStore()
    const router = useRouter()
    const connect_metamask = async() => {

      store.dispatch('connect_metamask').then( (result)=>{
        console.log("connect metamask result: ", result)
        store.dispatch('refresh_tmp_balance', store.getters.metamask_account.account)
        router.push({ path: "/"})
      }).catch(() => {
        console.log("metamask connect error: ", store.getters.error_message.error)
      });
    }
    onMounted(() => {
      store.dispatch('check_metamask');
      store.dispatch('get_bids');
      window.ethereum.on('accountsChanged', () => {
        store.dispatch('connect_metamask').then( (result)=>{
          console.log("connect metamask result: ", result)
          store.dispatch('refresh_tmp_balance') 
        }).catch(() => { 
          console.log("metamask connect error: ", store.getters.error_message.error)
        });
      })
      window.ethereum.on('chainChanged', () => {
        store.dispatch('connect_metamask').then( (result)=>{
          console.log("connect metamask result: ", result)
          store.dispatch('refresh_tmp_balance')
        }).catch(() => {
          console.log("metamask connect error: ", store.getters.error_message.error)
        });
      })
    });
    return {
      connect_metamask,
      metamask_install_status: computed(() => store.state.metamask_install_status),
      metamask_setup_correct: computed(() => store.state.metamask_account.connected_status && store.state.metamask_account.chain_id == import.meta.env.VITE_NETWORK_ID),
      error_message: computed(() => store.getters.error_message)
    }
  }
})
</script>