<template>

    <div v-if="!item_check">
        <EquipmentItem v-for="item in equipment_items"
          v-bind:equipment_item="item"
          v-bind:key="item._id">
    </EquipmentItem>
        
    </div>
    
    <div v-else>
  
        You do not have any items
  
    </div>


    
    
    
</template>



<script>
    

import { mapGetters } from 'vuex';
// import EquipmentItem from '../components/EquipmentItem.vue'



export default {
    
    name: "Equipment",
    
    // components: {
    //     EquipmentItem
    // },
    
    computed: {
    ...mapGetters([
        'equipment_items',
        'metamask_account'

    ]),
    
    item_check: function(){
        

        
        if(this.equipment_items.length == 0 ) {
            return true
        }
        
        if(this.equipment_items.length >0 ){
            return false
        } else {
            return true
        }
        
        
        
        
        
    }
    
    
    
    

    
  },
  
   
  
  created() {
      
      this.$store.dispatch('get_equipment', this.metamask_account)
      
      
  }
    
    
    
}
    
    
    
</script>