<template>
    <Game></Game>
</template>


<script>
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'home2',
    setup () {
        return {
        }
    }
})
</script>