<template>
    <div>
        <div ref="unity-container" id="unity-container" class="unity-desktop" :class="unityContainerClass">
            <canvas ref="unity-canvas" id="unity-canvas" class="w-full h-[600px]"></canvas>
            <div ref="unity-loading-bar" id="unity-loading-bar" class="block">
                <div id="unity-logo"></div>
                <div id="unity-progress-bar-empty">
                <div ref="unity-progress-bar-full" id="unity-progress-bar-full"></div>
                </div>
            </div>
            <div ref="unity-mobile-warning" id="unity-mobile-warning" :class="mobileWarningStyle">
                WebGL builds are not supported on mobile devices.
            </div>
            <div id="unity-footer">
                <div id="unity-webgl-logo"></div>
                <div ref="unity-fullscreen-button" id="unity-fullscreen-button"></div>
                <div id="unity-build-title">City Simulation</div>
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent, ref, reactive } from 'vue'
// import createUnityInstance from './../assets/Build/WebGL.loader.js'


export default defineComponent({
    name: 'home2',
    setup () {
        const buildUrl = ref("/assets/Build");
        const loaderUrl = ref(`${buildUrl.value}/WebGL.loader.js`);
        const config = {
            dataUrl: buildUrl.value + "/WebGL.data.unityweb",
            frameworkUrl: buildUrl.value + "/WebGL.framework.js.unityweb",
            codeUrl: buildUrl.value + "/WebGL.wasm.unityweb",
            streamingAssetsUrl: "StreamingAssets",
            companyName: "DefaultCompany",
            productName: "City Simulation",
            productVersion: "0.1",
        };

        const container = ref("unity-container");
        const unityContainerClass = ref('')
        const canvas = ref("unity-canvas");
        const loadingBar = ref("unity-loading-bar");
        const loadingBarClass = ref('');
        const progressBarFull = ref("unity-progress-bar-full");
        const progressBarFullStyle = reactive({width: ''})
        const fullscreenButton = ref("unity-fullscreen-button");
        const mobileWarning = ref("unity-mobile-warning");
        const mobileWarningStyle = ref('')

        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
            unityContainerClass.value = "unity-mobile";
            config.value.devicePixelRatio = 1;
            mobileWarningStyle.value = 'block'
            setTimeout(() => {
                mobileWarningStyle.value = 'hidden';
            }, 5000);
        }

        // createUnityInstance(canvas, config, (progress) => {
        //     progressBarFullStyle.width = 100 * progress + "%";
        // }).then((unityInstance) => {
        //     loadingBarClass.value = "hidden";
        //     fullscreenButton.click = () => {
        //         unityInstance.SetFullscreen(1);
        //     };
        // }).catch((message) => {
        //     alert(message);
        // });
        // var script = document.createElement("script");
        // script.src = loaderUrl.value;
        // script.onload = () => {
        // createUnityInstance(canvas, config, (progress) => {
        //     progressBarFull.style.width = 100 * progress + "%";
        // }).then((unityInstance) => {
        //     loadingBar.style.display = "none";
        //     fullscreenButton.onclick = () => {
        //     unityInstance.SetFullscreen(1);
        //     };
        // }).catch((message) => {
        //     alert(message);
        // });
        // };
        // document.body.appendChild(script);
        return {
            container,
            canvas,
            loadingBar,
            progressBarFull,
            fullscreenButton,
            mobileWarning,
            mobileWarningStyle,
            unityContainerClass
        }
    }
})
</script>

<style scoped>
@import './../assets/TemplateData/style.css';

</style>