

<template>

<div v-if="metamask_setup_correct">
  <div class="container">
    
    TMP Balance: {{ tmp_token_balance }}
    <br>
    Auction Allowance: {{tmp_token_allowance}} 
    <br>
    <input  v-model="allowance_increase" type="number" id="allowance_increase" name="allowance_increase" min="0">
    <span> &nbsp; </span> <button v-on:click="increase_allowance()"> Change </button> {{allowance_change_status}}
    
    <div v-if="approval_result.error">
      
      {{approval_result.error_msg}}
      
    </div>
    
    
    <br>
    <div class="card">
      <br>
     <img src="https://eep.province.gg/images/bulldozer.png">
      <br>
        <b>Item:</b> Bulldozer (G1)
      <br>
        <b>Description:</b> The G1 Bulldozer can clear 1 km sq of forest and gather the timber in 3 months. 5 years of fuel + labor + storage included. Use it to clear your own land or rent it out to your neighbors.
      <br>
      Your bulldozer will be replaced with this one in Homestead:
      <br>
      <video width="320" height="240" controls>
        <source src="https://eep.province.gg/images/bulldozer.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      
      <br>
        <b>Start Date:</b> 12 February 2022 9PM GMT
      <br>
        <b>End Date:</b> 14 February 2022 9PM GMT
      <br>
        <b>Starting Bid:</b> 0
      <br>
      <b>Qty:</b> 1
      <br>
        Place Bid
      <input  v-model="bid_amount" type="number" id="bid" name="bid"> TMP
      <br>
      
      <button v-on:click="attempt_bid()"> Bid </button>
      {{ bid_submission_status }}
      
    </div>
    
    <div class="card">
      
      <br>
      <br>
      <br>
      <b>Current Bids</b>
      
       <table style="width:35%;">
          
          <tr>
          <th>Address</th>
          <th>Bid</th>
          <th></th>
          </tr>
          
          
          <BidModal v-for="item in bids"
              v-bind:bid="item"
              v-bind:key="item.address">
          </BidModal>
        </table>
        
        
    </div>
  </div>
  
  
  

</div>

<div v-else>

    Please connect metamask + avalanche mainnet
  
</div>



  
</template>

<script>
//import HelloWorld from '../components/HelloWorld.vue'
import { mapGetters } from 'vuex';
import BidModal from '../components/BidModal.vue'



import w3_util from '../utils/web3_utils'
import nw_util from '../utils/network_utils'

//var ethereum = window.ethereum


export default {
  name: 'Home',
  components: {
   BidModal
  },
  data() {
    
    return {
      allowance_increase: 0,
      bid_amount: 0,
      bid_submission_status: "",
      allowance_change_status: ""
      
    }
    
  },
  computed: {
    ...mapGetters([
        'metamask_account',
        'metamask_install_status',
        'tmp_token_balance',
        'tmp_token_allowance',
        'bids',
        'error_message',
        'approval_result'
    ]),
    
    metamask_setup_correct: function(){
      
      

      if(this.metamask_account && this.metamask_account.connected_status && this.metamask_account.chain_id == import.meta.env.VITE_NETWORK_ID){
        return true
      }
      
      return false
      
      
    }
    
  },
  methods: {
    
    connect_metamask: async function(){
      

      this.$store.dispatch('connect_metamask').then( (result)=>{
        console.log("connect metamask result: ", result)
        
        this.$store.dispatch('refresh_mpl_balance', this.metamask_account.account)
        
      }).catch(() => {
        
        console.log("metamask connect error: ", this.error_message.error)
        
        
      });
      //this.$store.dispatch('approve_max_bid')
      
    },
    
    attempt_bid: async function(){
      
      /*
      if (this.tmp_token_balance < 1) {
        alert("You Do Not Have Enough Test-Maple ")
      }
      */
      console.log("bids: ", this.bids)
      
      var account = this.metamask_account.account;
      var bid_amount = this.bid_amount.toString();
      
      //console.log("attempt bid function: ", 
      
      var signature_result = await w3_util.generate_signed_msg(account, bid_amount);
      
      //console.log("attempt bid: ", bid_amount, " ", signature_result.signature, " ", account, " ", signature_result.message)
      
      nw_util.submit_bid(bid_amount, signature_result.signature, account, signature_result.message).then( (result) => {
        
        console.log("submit result: ", result)
        
        
        
        if(result.error) {
          
          this.bid_submission_status = result.error_msg;
          //this.$store.dispatch('get_error_msg', {error: true, err_msg: "You have not approved a large enough TMP allowance to cover this bid."})
        } else if (!result.error){
          
          this.$store.dispatch('get_bids');
          this.bid_submission_status = "Submitted. Please refresh if you don't see your bid below."
          
        } else {
          
          this.bid_submission_status = "Unknown error. Please this in report in Discord. " + result;
          
        }
        
 
        
      
      })
      
      
      
    },
    
    increase_allowance: async function(){
      
    try{
      
      this.allowance_change_status = "Waiting for transaction approval"
      
      await this.$store.dispatch('approve_max_bid', {amount: this.allowance_increase})
      
       this.allowance_change_status = "Transaction pending"
      
      //this.allowance_increase = 0;
      
      var contract_instance = w3_util.contract_factory();
      
      var filterTo = contract_instance.filters.Approval(this.metamask_account.account, "0x015f6D60053c3564fB6e6aDF99AAfF16E141d61e");
      
      
      
      contract_instance.once(filterTo, (from, to, amount, event) => {
        
        this.$store.dispatch('refresh_tmp_balance', this.metamask_account.account);
        this.allowance_change_status = "Completed"
        
      })
    }
    
    catch(e){
      
      this.allowance_change_status = e.error_msg
      
    }
      
    }
    
    
  },
   created() {
    this.$store.dispatch('check_metamask');
    this.$store.dispatch('get_bids');
    
    
    window.ethereum.on('accountsChanged', () => {
      
      this.$store.dispatch('connect_metamask').then( (result)=>{
        console.log("connect metamask result: ", result)
        
        this.$store.dispatch('refresh_tmp_balance')
        
      }).catch(() => {
        
        console.log("metamask connect error: ", this.error_message.error)
        
        
      });
      
    })
    
    
    window.ethereum.on('chainChanged', () => {
      
      
      this.$store.dispatch('connect_metamask').then( (result)=>{
        console.log("connect metamask result: ", result)
        
        this.$store.dispatch('refresh_tmp_balance')
        
      }).catch(() => {
        
        console.log("metamask connect error: ", this.error_message.error)
        
        
      });
      
    })
    
    
    
    
  },
  
  beforeUnmount(){
    
    // These aren't active for some reason. Causes error when changing routes.
    //window.ethereum.removeListener('accountsChanged');
    //window.ethereum.removeListener('chainChanged');
    
    
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
  margin-top: 10px;
}



</style>
