<template>
    
    
    asdfasdfsadfsdf
    
    
    
</template>


<script>

import { mapGetters } from 'vuex';
import BidModal from '../components/BidModal.vue'



import w3_util from '../utils/web3_utils'
import nw_util from '../utils/network_utils'

//var ethereum = window.ethereum


export default {
  name: 'Lands',
  components: {
   //BidModal
  },
  data() {
    
    return {
      
    }
    
  },
  computed: {
    ...mapGetters([
        'metamask_account',
        'metamask_install_status',
        'mpl_token_balance',
        'mpl_token_allowance',
        'bids',
        'error_message',
        'approval_result'
    ]),
  },
  methods: {
    

  },
   created() {
    this.$store.dispatch('check_metamask');
    this.$store.dispatch('get_bids');
    
    
    window.ethereum.on('accountsChanged', () => {
      
      this.$store.dispatch('connect_metamask').then( (result)=>{
        console.log("connect metamask result: ", result)
        
        this.$store.dispatch('refresh_tmp_balance')
        
      }).catch(() => {
        
        console.log("metamask connect error: ", this.error_message.error)
        
        
      });
      
    })
    
    
    window.ethereum.on('chainChanged', () => {
      
      
      this.$store.dispatch('connect_metamask').then( (result)=>{
        console.log("connect metamask result: ", result)
        
        this.$store.dispatch('refresh_tmp_balance')
        
      }).catch(() => {
        
        console.log("metamask connect error: ", this.error_message.error)
        
        
      });
      
    })
    
    
    
    
  },
  
  beforeUnmount(){
    
    // These aren't active for some reason. Causes error when changing routes.
    //window.ethereum.removeListener('accountsChanged');
    //window.ethereum.removeListener('chainChanged');
    
    
    
  }
}
</script>