<template>
    <div class="flex flex-row flex-wrap">
        <div v-for="ownedLand in ownedLands" :key="ownedLand.id" class="mr-5 mb-5 space-y-6 py-4 px-5 w-fit rounded-xl bg-green-50 text-base font-medium">
            
            <div class="space-y-8  m-50">
                <div class="flex space-x-8 items-center">
                    <div class="flex flex-col space-y-1">
                        <h5 class="text-sm">Plot type</h5>
                        <h4 class="capitalize font-semibold">{{ ownedLand.land_status }}</h4>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h5 class="text-sm">Plot Number</h5>
                        <h4 class="font-semibold">#{{ ownedLand.plot_int }}</h4>
                    </div>
                </div>
                <div class="flex space-x-8 items-center">
                    <div class="flex flex-col space-y-1">
                        <h5 class="text-sm">Fertility</h5>
                        <h4 class="font-semibold">{{ ownedLand.fertility * 100 }}%</h4>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h5 class="text-sm">Minerals</h5>
                        <h4 class="font-semibold">{{ ownedLand.minerals * 100 }}%</h4>
                    </div>
                </div>
            </div>
            <button :class="tailConfirmBtn" @click="openModal(ownedLand)">Sell</button>
        </div>
        <LandModal @updateToggle="updateToggle($event)" v-if="isOpen" :landToSell="landToSell"  @onConfirmed="onConfirmed"/>
    </div>
</template>

<script>
import LandModal from '~/components/LandModal.vue'
import {tailConfirmBtn} from "../assets/customTailwind"
import { mapGetters } from 'vuex';
import api from '~/api'

export default {
    name: 'Land',
    components: { LandModal },

    methods: {
    updateToggle(event) {
        this.isOpen = false;
    },
    onConfirmed(){
            this.isOpen = false;
    },
     getLandData () {
            api.provinceApi.post('/land_data', { query_param: this.metamask_account.account, query_type: "owner"}).then((res) => {
                this.ownedLands = res.data
            }).catch((err) => {
                console.log(err);
            })
        },
      openModal(land) {
        this.isOpen = true; 
        this.landToSell = land;
        },
    },
        computed: {
        ...mapGetters([
            'metamask_account',
        ]),
        tailConfirmBtn() {return `${tailConfirmBtn} w-full`}
},
    mounted() { 
         this.getLandData();
    },

    data () {
        return {
            ownedLands: [],
            landToSell: null,
            isOpen: false
        }
    }
}
</script>

<style scoped>

</style>