<template>
  <div class="container">
    <h2 class="text-lg font-semibold uppercase">
      {{ mapleBalance }}
    </h2>
    <div class="filters">
      <button
        @click="filter = 'all'"
        :class="filter == 'all' ? activeClass : endedClass"
      >
        All
      </button>
      <button
        @click="filter = 'active'"
        :class="filter == 'active' ? activeClass : endedClass"
      >
        Active
      </button>
      <button
        @click="filter = 'ended'"
        :class="filter == 'ended' ? activeClass : endedClass"
      >
        Ended
      </button>
    </div>

    <div sm class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
      <SalesItem
        v-for="item in sale_items"
        :filter="filter"
        :sale_item="item"
        :key="item._id"
        :balance="mpl_token_balance"
      ></SalesItem>
    </div>
  </div>
</template>

<style scoped>
.container {
  margin-bottom: 20px;
  max-width: 1400px;
}
.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
</style>

<script>
import { mapGetters } from "vuex";
import { tailActiveBtnFilter, tailInactiveBtnFilter } from "../assets/customTailwind";

export default {
  name: "Sales",

  computed: {
    ...mapGetters(["sale_items", "mpl_token_balance", "metamask_account"]),
    mapleBalance() {
      return `${Number(this.mpl_token_balance).toFixed(2)} ${this.MPL}`;
    },
  },
  data() {
    return {
      filter: "active",
      endedClass: tailInactiveBtnFilter,
      activeClass: tailActiveBtnFilter,
      BALANCE: "Balance",
      MPL: "(mpl)",
    };
  },

  created() {
    this.$store.dispatch("get_sales");
    this.$store.dispatch("refresh_mpl_balance", this.metamask_account.account);
  },
};
</script>
