<template>
  <div>
    <div>
      <div
        class="overflow-y-scroll h-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
        v-if="!isSuccessModal && !isFailedModal"
      >
        <div class="relative my-6 mx-auto max-w-3xl" style="width: 600px">
          <div
            class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
            aria-hidden="true"
          ></div>

          <!--content-->
          <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
          >
            <!--body-->
            <img :src="img" />
            <h2 class="uppercase mb-1">Details</h2>

           <div class="relative shadow-md">
            <table class="w-full text-white uppercase text-sm">
                   <thead class="bg-green-700 uppercase font-bold text-white text-sm">
                <tr>
                  <th scope="col" class="px-3 py-2  font-semibold">{{ ITEM }}</th>
                  <th scope="col" class="px-3 py-2 font-semibold">{{ MINIMUM_BID }}</th>
                  <th scope="col" class="px-3 py-2 font-semibold">{{ END_TIME }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="border-b text-black">
                      <td scope="col" class="px-3 py-2" >{{ sale_item.item_type }}</td>
                      <td scope="col" class="px-3 py-2 ">
                          <p v-if="leadingBidReady">{{ leadingBid }}{{ MPL }}</p>
                          <p v-else>Loading...</p>
                      </td>
                     <td scope="col" class="px-3 py-2">{{ moment(sale_item.end).format("DD MMM YYYY") }}</td>
                    </tr>
                </tbody>

            </table>
            </div>
            <h2 class="uppercase mb-1">Last bids</h2>
            <div class="relative overflow-y-auto shadow-md max-h-40 mb-3">
              <table class="w-full text-left text-white uppercase text-sm">
                <thead class="bg-green-700 uppercase font-bold text-white text-sm">
                <tr>
                  <th scope="col" class="px-3 py-2  font-semibold">Address</th>
                  <th scope="col" class="px-3 py-2 font-semibold">Bid</th>
                </tr>
                </thead>
                <tbody v-if="bids.length > 0">
                    <tr v-for="bid in bids" :key="bid.adress" class="border-b text-black">
                       <td scope="col" class="px-3 py-2">{{bid.address}}</td>
                      <td scope="col" class="px-3 py-2">{{bid.bid}}{{ MPL }}</td>
                    </tr>
                </tbody>
              </table>
               <table v-if="bids.length === 0" class="w-full">
                    <tr class="border-b font-semibold text-black bg-gray-200">
                      <td scope="col" class="px-3 py-2">No Bids Yet</td>
                    </tr>
               </table>
            </div>
            <div class="px-3 mt-3">
              <input
                v-model="inputText"
                placeholder="0"
                type="number"
                id="bid"
                name="bid"
                min="1"
              />
            </div>
            <p class="text-red-500 uppercase">{{ warningText }}</p>
            <div
              class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
            >
              <button
                :class="isBidButtonInvalid"
                type="button"
                :disabled="loading"
                @click="isBidValid ? sign() : null"
              >
                <i v-if="loading" class="fa-solid fa-rotate fa-spin"></i>
                Bid
              </button>
              <button
                :class="isCloseDisabled"
                :disabled="loading"
                type="button"
                @click="toggleBid()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <SuccessModal
      v-if="isSuccessModal"
      @updateSuccessModal="updateSuccessModal()"
      :sale_item="sale_item"
      :successMsg="successMsg"
    />
      <FailedModal v-if="isFailedModal" @updateFailedModal="updateFailedModal()" :failedMsg="failedMsg" />
  </div>
</template>
<style>
.details-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50x;
}
.bidding {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 10px;
  width: 100%;
  height: 50x;
}

.makeOfferButton {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
</style>
<script>
import moment from "moment";
import { mapGetters } from "vuex";
import {tailCancelBtn, tailCancelBtnDisabled, tailConfirmBtn, tailConfirmBtnDisabled} from "../assets/customTailwind";
import Web3 from "~/utils/web3_utils";
import api from "~/api";

export default {
  name: "BidModal",
  props: ["sale_item", "END_TIME", "img", "balance", "showBidModal", "leadingBid","leadingBidReady", 'bids'],
  data() {
    return {
      moment,
      inputText: null,
      MINIMUM_BID: "Minimum bid",
      MPL: "(MPL)",
      ITEM: "Item",
      loading: false,
      isSuccessModal: false,
      successMsg: "You have placed a bid successfully!",
      failedMsg: null,
      isFailedModal: false
   };
  },

  computed: {
    ...mapGetters(["metamask_account"]),
    isBidButtonInvalid() {
      if (this.leadingBid >= this.inputText  || this.inputText > this.balance || this.loading) return tailConfirmBtnDisabled;
      return tailConfirmBtn;
    },
    isBidValid() {
      if (!this.inputText) return false;  
      if (this.inputText <= this.leadingBid && this.inputText) return false;
      if (this.inputText > this.balance) return false;
      return true;
    },
    warningText() {
      if (this.inputText <= this.leadingBid && this.inputText) return "Low bid";
      if (this.inputText > this.balance) return "Insufficient funds";
      return null;
    },
    isCloseDisabled() {
      if (!this.loading)
        return tailCancelBtn;
      return tailCancelBtnDisabled;
    },
  },
  methods: {
    toggleBid() {
      this.isSuccessModal = false;
      this.isFailedModal = false;
      this.$emit("updateBidToggle", false);
    },
      updateSuccessModal() {
      this.toggleBid();
    },
     updateFailedModal() {
      this.toggleBid()
    },
    async sign() {
      this.loading = true;
      try {
        await this.increase_allowance();
      } catch (err) {
        this.loading = false;
      }
    },
    createBidData(sale_id, bid, address) {
      return {
        sale_id: sale_id,
        bid: bid,
        address: address,
        random_string: Math.floor(Math.random() * 1000000000000),
      };
    },
    async newBid({ signature, message }) {
      const data = { hash: signature, msg: message };
      try {
        await api.createBid.post("/api/bids/create", data);
          this.loading = false;
          this.isSuccessModal = true;
      } catch(err) {
          this.failedMsg = `There was an error: ${err.response.data.message}`
          this.isFailedModal = true
          this.loading = false;
      }
  },

    async increase_allowance() {
      try {
        const tx_result = await Web3.approve_spend(this.inputText.toString());
        if (!tx_result) return (this.loading = false);
        console.log("tx result", tx_result);

        const contract_instance = Web3.contract_factory();

        const filterTo = contract_instance.filters.Approval(
          this.metamask_account.account,
          import.meta.env.VITE_TREASURY
        );

        contract_instance.once(filterTo, async (from, to, amount, event) => {
          const address = this.metamask_account.account;
          const message = this.createBidData(
            this.sale_item.sale_id,
            this.inputText,
            address
          );

          const signature = await Web3.SignMessage(message, address);
          if (!signature) return this.loading = false;
          this.newBid({
            ...signature,
          });
        });
      } catch (e) {
        this.allowance_change_status = e.error_msg;
        this.loading = false;
      }
    },
  },
  created() {
    console.log('created')
    console.log(this.bids, 'bids')
  }
};
</script>
