<template>
<!-- This example requires Tailwind CSS v2.0+ -->
<div>

<div v-if="!isSuccessModal && !isFailedModal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="relative inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6  text-gray-900" id="modal-title">Are you sure you want to  buy {{sale_item.item_type}} for {{sale_item.price}}?</h3>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button :disabled="loading" @click="(start_buy())" type="button" :class="isConfirmedDisabled">
            <i v-if="loading" class="fa-solid fa-rotate fa-spin"></i>
            <span v-if="loading" style="margin-left:5px" >In progress...</span>
            <span v-else >Confirm</span>
            </button>
        <button :disabled="loading" @click="toggleBuy()" type="button" :class="isCancelDisabled">Cancel</button>
      </div>
    </div>
  </div>
</div>
  <SuccessModal v-if="isSuccessModal" @updateSuccessModal="updateSuccessModal()" :sale_item="sale_item" :successMsg="successMsg"/>
  <FailedModal v-if="isFailedModal" @updateFailedModal="updateFailedModal()" :failedMsg="failedMsg" />
</div>
</template>



<script>
    
    
import { mapGetters } from 'vuex';
import Web3 from '~/utils/web3_utils'
import { tailCancelBtn, tailCancelBtnDisabled, tailConfirmBtn, tailConfirmBtnDisabled } from "../assets/customTailwind"
import api from "~/api"

export default {
  name: 'BuyModal',
  props: ["showBuyModal", "sale_item", "isBalanceLow"],
  data() {
      return {
          loading: false,
          isSuccessModal: false,
          isFailedModal: false,
          failedMsg: null,
          successMsg: `Success ! Check your new ${this.sale_item.item_type} in the lands tab`
      }
  },
  methods : {
    toggleBuy() {
      this.isSuccessModal = false;
      this.isFailedModal = false;
      this.$emit("updateBuyToggle", false)
    },
    updateShowBuyModal() {
      this.$emit("updateShowBuyModal", false)
    },
    updateSuccessModal() {
      this.toggleBuy()
    },
    updateFailedModal() {
      this.toggleBuy()
    },
    async start_buy (){
      
      if(this.isBalanceLow) return false
      this.loading = true;
      const tx_result = await Web3.approve_spend(this.sale_item.price.toString());
      if(!tx_result) return this.loading = false;
        const contract_instance = Web3.contract_factory();

        const filterTo = contract_instance.filters.Approval(
          this.metamask_account.account,
          import.meta.env.VITE_TREASURY
        );

        contract_instance.once(filterTo, async (from, to, amount, event) => {

          const json_msg = {sale_id: this.sale_item.sale_id, address: this.metamask_account.account}
          const signature = await Web3.SignMessage(json_msg, json_msg.address)
          if(!signature) return this.loading = false;
                    
          const data = {hash:signature.signature, msg: signature.message}
          try {
            await api.createBid.post('/api/sales/buy', data)
            this.$store.commit('remove_sale', this.sale_item.sale_id);
            this.isSuccessModal = true;
            this.loading = false;
          } catch(err) {  
            this.failedMsg = `There was an error: ${err.message}`
            this.isFailedModal = true
            this.loading = false;
          }
        });
    }
  },

    computed: {
        ...mapGetters([
            'metamask_account',
        ]),
      isConfirmedDisabled() {
          if(!this.loading) return tailConfirmBtn;   
         return tailConfirmBtnDisabled;
       },
        isCancelDisabled() {
          if(!this.loading) return tailCancelBtn;   
          return tailCancelBtnDisabled;
       },
    }
}
    
    
    
    
</script>