<template>
    
    <div class="row">
        <img v-bind:src=equipment_item.img_url>
    </div>
    
    <div class="row">
         <B>Item:</B> {{equipment_item.object}}
    </div>
    
    <div class="row">
         <B>Description:</B> {{equipment_item.description}}
    </div>
    
    <div>
        <b>Serial Number:</b> {{equipment_item.serial}}
    </div>
    
    <div class="row">
        <b>Status:</b> {{equipment_item.status}}
    </div>
    
    
    <div v-if="equipment_item.status == 'deployed'">
        <div>
            <progress id="file" v-bind:value="progress" max="100"> </progress> {{ progress }}%
        </div>
    </div>
    
    <div v-if="equipment_item.status == 'idle'">
    
        <button v-on:click="clear_land()" > Clear Land </button>
    </div>
    
    <div v-if="dropdown">
        
        <div class="row">
        
            Which plot do you want to clear?
        
        </div>
        
        
        <div class="row">
        
            <select v-model="selected">
                
                <option v-for="option in property" v-bind:key="option.plot_int">
                    {{ option.plot_int}}
                </option>
                
            </select>
        </div>
        
        <br>
        
        <div class="row">
            
            <button v-on:click="deploy()"> Deploy </button>
            
        </div>
        
        
    </div>
    <br>
    
    {{ result_message }}
    
    
    
</template>


<script>

import { mapGetters } from 'vuex';
import nw_util from '../utils/network_utils'
import w3_util from '../utils/web3_utils'
    
export default {
  name: 'Equipment_Item',
  props: ['equipment_item'],
  data() {
    return {
        selected: "                 ",
        property: [],
        dropdown: false,
        result_message: "",
        progress: 0
        
    }  
  },
  computed: {
    ...mapGetters([
        'metamask_account',
        'metamask_install_status',
        'mpl_token_balance',
        'mpl_token_allowance',
        'bids',
        'error_message',
        'approval_result'
    ]),
    
    
    
    
  },
  
  methods: {
      
      
    clear_land: async function() {
        
        var properties = await nw_util.property_query(this.metamask_account.account);
        
           if(properties.length > 0) {
            this.dropdown = true
            this.property = properties;

        } else {
            
            // This scenario needs to be handled.
            console.log("No Land")
            
        }
        
        
        
    },
    
    
    
    deploy: async function(){
        
        var result = await w3_util.deploy(this.equipment_item.serial, this.metamask_account.account, this.selected)

        if (!result.error){
            
            var req_result = await nw_util.deploy(this.equipment_item.serial, result.signature, this.metamask_account.account, result.message);
            
            if(req_result.error == false){
                this.dropdown = false
                this.result_message = "complete";
                this.$store.dispatch('get_equipment', this.metamask_account)
                
            }
            
            
        }
    }
    
  },
  
  async created() {
      
      if(this.equipment_item.status == "deployed"){
          
          var progress_result = await nw_util.get_clearing_progress(this.equipment_item.serial);
          
          console.log(777, progress_result)
          
          if(!progress_result.error){
              this.progress = progress_result.percent_complete/3;
              this.progress = progress_result.percent_complete/2;
              this.progress = progress_result.percent_complete;
          }
          
      }
      
      
      
  }
  
}
    
    
    
    
</script>