<template>
  <h1>{{ metamask_install_status }}</h1>
</template>

<script setup>
import { ref } from 'vue'

defineProps({
  msg: String
})

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
