<template>
<div>
    <form
      class="bg-gray-500/30 overflow-y-auto overflow-x-hidden flex absolute top-0 right-0 left-0 z-50 w-full inset-0 h-modal h-full"
    v-if="!isSuccessModal && !isFailedModal" 
    >
      <div
        class="relative p-4 w-full max-w-2xl h-full md:h-auto mx-auto self-center"
      >
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg">
          <!-- Modal header -->
          <div
            class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600"
          >
            <h3
              class="text-xl font-semibold text-gray-900 lg:text-2xl uppercase"
            >
              Start a sale 
            </h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-full text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              @click="toggle()"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6">
            <div>
              <label
                for="sale-type"
                class="block text-sm font-medium text-gray-700"
                >Sale Type</label
              >
              <div class="mt-1">
                <select
                  v-model="saleType"
                >
                    <option>
                        {{SALE}}
                    </option>
                </select>
              </div>
            </div>
            <div>
              <label
                for="pricing-model"
                class="block text-sm font-medium text-gray-700"
                >Pricing Model</label
              >
              <div class="mt-1">
                <select
                  v-model="pricingModel"
                >
                    <option>
                       {{AUCTION}}
                    </option>
                    <option>
                       {{FIXED_PRICE}}
                    </option>
                </select>
              </div>
            </div>
            <div v-if="pricingModel == 'Fixed-price'">
              <label
                for="sale_price"
                class="block text-sm font-medium text-gray-700"
                >Sale Price</label
              >
              <div class="mt-1">
                <input
                  name="sale_price"
                  id="sale_price"
                  type="number"
                  placeholder="List price (MPL)"
                  v-model.trim="listPrice"
                />
              </div>
            </div>
            <div class="flex space-x-4 ">

              <div class="grow">
                <label
                  for="start-date"
                  class="block text-sm font-medium text-gray-700"
                  >Days From Now</label
                >
                <div class="mt-1">
                  
                <select
                  v-model="listDate"
                >
                   <option>
                       {{NOW}}
                    </option>
                    <option v-for="index in 7" :key="index">
                       {{index}}
                    </option>
                </select>
                </div>
              </div>
              <div class="grow">
                <label
                  for="end-date"
                  class="block text-sm font-medium text-gray-700"
                  >How many days will the sale last?</label
                >
                <div class="mt-1">
                  <input
                    name="end-date"
                    id="end-date"
                    type="number"
                    placeholder="1"
                    v-model="endDate"
                    min="1"
                    max="30"
                  />
                </div>
                <p v-if="invalidEndDate" class="text-xs" style="color: red">{{invalidEndDateMessage}}</p>
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div
            class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600"
          >
            <button
              data-modal-toggle="defaultModal"
              type="button"
              :class="listButtonStyles"
              @click="createSale()"
              :disabled="isListButtonDisabled"
            >
              <i v-if="loading" class="fa-solid fa-rotate fa-spin"></i>
              List
            </button>
            <button
              data-modal-toggle="defaultModal"
              type="button"
              :class="cancelButtonStyles"
              :disabled="loading"
              @click="toggle()"
            >
              Cancel
            </button>

          </div>
        </div>
      </div>
    </form>
      <SuccessModal v-if="isSuccessModal" @updateSuccessModal="updateSuccessModal()" :sale_item="sale_items" :successMsg="successMsg"/>
      <FailedModal v-if="isFailedModal" @updateFailedModal="updateFailedModal()" :failedMsg="failedMsg" />
    </div>
</template>

<script>



import { mapGetters } from 'vuex';
import Web3 from '~/utils/web3_utils';
import { tailCancelBtn, tailCancelBtnDisabled, tailConfirmBtn, tailConfirmBtnDisabled } from "../assets/customTailwind";
import api from '~/api';

export default {
    name: 'LandModal',
    props: {landToSell: {
            type: Object,
            required: true
        }
    },
     data() {
        return {
            pricingModel: null,
            validationError: null,
            saleType: null,
            listPrice: null,
            listDate: null,
            endDate: null,
            AUCTION: "Auction",
            NOW: "Now",
            FIXED_PRICE: "Fixed-price",
            SALE: "Sale",
            loading: false,
            isSuccessModal: false,
            successMsg: `Success ! Plot ${this.landToSell.plot_int} is now for sale`,
            isFailedModal: false,
            failedMsg: null,
            invalidEndDateMessage: "End date must be between 1 and 30 days",
        }
    },
     methods: {
        toggle() {
          this.isSuccessModal = false;
          this.isFailedModal = false;
        this.$emit("updateToggle", false)
         },
       updateSuccessModal() {
         this.toggle()
      },
        updateFailedModal() {
           this.toggle()
        },
       async createSale () {
        
          let start = Date.now() + (60*1000*5) 
        
         if(this.listDate != this.NOW){
           start = this.listDate*1000*60*60*24 + start 
         } 
            
          const end = this.endDate*1000*60*60*24 + start
          this.loading = true;
            
          let pricing_model = this.pricingModel.toLowerCase()
            
            
          const sales_data = {
                start, 
                end,
                item_type: "land", 
                plot_int: this.landToSell.plot_int, 
                sale_type: "sale", 
                seller: this.metamask_account.account,
                random_string: Math.floor(100000 + Math.random() * 900000),
                pricing_model
                
            }
            
            if(pricing_model == "fixed-price"){
              sales_data.price =  this.listPrice
            }
            
          // const json_msg = JSON.stringify(sales_data);
          const signature = await Web3.SignMessage(sales_data, this.metamask_account.account)
          const data = {hash:signature.signature, msg: signature.message}
          try {
             await api.createBid.post('/api/sales/create', data)
             this.isSuccessModal = true;
             this.loading = false;
          }catch(err)  {
            this.failedMsg = `There was an error: ${err.response.data.message}`
            this.isFailedModal = true
            this.loading = false;
          }
        }
     },
    computed: {
        ...mapGetters([
            'metamask_account',
            "sale_items"
        ]),
        invalidEndDate() {
          if(typeof this.endDate === "object") return false;
          if(this.endDate < 1 || this.endDate > 30) return true;
          return false;
        },
        isListButtonDisabled() {
          const isFilled = this.pricingModel && this.saleType && this.listDate && this.endDate ? true : false
          if(this.invalidEndDate) return true;
          if(this.loading) return true;
          if(isFilled) return false;
          return true;
        },
      listButtonStyles() {
  if (this.isListButtonDisabled) return tailConfirmBtnDisabled;
return tailConfirmBtn;
},
cancelButtonStyles() {
  if(this.loading) return tailCancelBtnDisabled;
  return tailCancelBtn;
}
},

}
</script>