<template>
  <nav class="px-4 lg:px-0">
    <div class="container mx-auto md:py-4 mb-10 flex space-x-2 text-sm font-medium">
    <button onclick="window.location.href='https://app.province.gg'" class="bg-green-700 hover:bg-green-800 w-fit flex items-center justify-center text-white py-0.5 px-2 rounded-sm font-normal text-base">Map</button>

    <!--<div class="divider"/>
    <router-link :to="{name: 'Equipment'}"><button class="bg-green-700 hover:bg-green-800 w-fit flex items-center justify-center text-white py-0.5 px-2 rounded-sm font-normal text-base">Equipment</button></router-link>
    -->
    
    <div class="divider"/>
    <router-link :to="{name: 'Land'}"><button class="bg-green-700 hover:bg-green-800 w-fit flex items-center justify-center text-white py-0.5 px-2 rounded-sm font-normal text-base">Land</button></router-link>
    <div class="divider"/>
    <router-link :to="{name: 'Sales'}"><button class="bg-green-700 hover:bg-green-800 w-fit flex items-center justify-center text-white py-0.5 px-2 rounded-sm font-normal text-base">Sales</button></router-link>
    </div>
  </nav>
</template>


<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'navbar',  
})
</script>
