<template>
  <div class="card" v-if="filterCondition">
  <img :src="img" />
  <div class="content">
    <h5
      class="text-xs text-white font-semibold inline-block py-1 px-2 rounded bg-green-700 uppercase"
    >
    {{cardAmountLabel}}
    </h5>
    <h5 class="text-l font-normal leading-normal mt-0 mb-2 text-slate-700 title uppercase">
      {{ sale_item.item_type }} Plot: {{ sale_item.plot_int}}  
    </h5>
    <div class="time">

      <div class="time-section">
        <h5 class="font-semibold uppercase"> Time Left</h5>
         {{ moment.duration(timeleft, 'seconds').days()}} Days {{ moment.duration(timeleft, 'seconds').hours()}}:{{ moment.duration(timeleft, 'seconds').minutes()}}:{{ moment.duration(timeleft, 'seconds').seconds()}} 
        <p>Ends: {{ moment(sale_item.end).format("HH:mm, DD MMMM YYYY") }}</p>
      </div>
    </div>
  </div>
  <button
    v-if="sale_item.pricing_model == 'fixed-price'"
    :class="isBuyDisabled"
    @click="toggleModal('buy')"
  >
    {{ isButtonEnded ? CLOSED : BUY }}
    <i
      ref="btnRef"
      @mouseenter="toggleTooltip()"
      @mouseleave="toggleTooltip()"
      class="fa-solid fa-circle-info"
      v-if="isBalanceLow && !isButtonEnded"
     
    ></i>
  </button>
  <button
    v-else-if="sale_item.pricing_model == 'auction'"
    :class="isBidDisabled"
    @click="toggleModal('bid')"
  >
    {{ isButtonEnded ? CLOSED : BID }}
    <i
      ref="btnRef"
      @mouseenter="toggleTooltip()"
      @mouseleave="toggleTooltip()"
      class="fa-solid fa-circle-info"
      v-if="isBalanceLow && !isButtonEnded"
    ></i>
  </button>

  <div
    ref="tooltipRef"
    :class="{ hidden: !tooltipShow, block: tooltipShow }"
    class="bg-green-700 border-0 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg"
  >
    <div>
      <div class="text-white p-3">
        {{ tooltipContent }}
      </div>
    </div>
  </div>
  <BidModal @updateBidToggle="updateBidToggle($event)" v-if="showBidModal" :showBidModal="showBidModal" :sale_item="sale_item" :END_TIME="END_TIME" :img="img" :balance="balance" class="bid" :leadingBid="leadingBid" :leadingBidReady="leadingBidReady" :bids="bids" />
  <BuyModal @updateShowBuyModal="updateShowBuyModal($event)" @updateBuyToggle="updateBuyToggle($event)" v-if="showBuyModal" :sale_item="sale_item" :isBalanceLow="isBalanceLow" />
    </div>
</template>
<style scoped>
@import "../assets/stylesheets/salesCard.css";
.card {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content {
  height: 160px;
}
img {
  width: 100%;
  height: auto
}
</style>
<script>
import { createPopper } from "@popperjs/core";
import moment from "moment";
import { mapGetters } from "vuex";
import nw_util from "../utils/network_utils";

export default {
  name: "SalesCardContent",
  props: ["sale_item", "isButtonEnded", "filter", "balance", "filterCondition"],
  methods: {
    updateBidToggle(event) {
      this.showBidModal = event;
    },
    updateBuyToggle(event) {
      this.showBuyModal = event;
    },
    updateShowBuyModal(event) {
      this.showBuyModal = event
    },
    toggleModal(type) {
    if (this.isButtonEnded || this.isBalanceLow) return null;
    if (type === "bid") return this.showBidModal = !this.showBidModal;
    if (type === "buy") return this.showBuyModal = !this.showBuyModal;
    },
    toggleTooltip() {
      if (this.tooltipShow) {
        this.tooltipShow = false;
      } else {
        this.tooltipShow = true;
        createPopper(this.$refs.btnRef, this.$refs.tooltipRef, {
          placement: "top",
        });
      }
    },
    
    calc_time_left(){
      if (Date.now()> this.sale_item.end){
        return "Ended"
      }
      
      setTimeout(() => {
        this.timeleft = (this.sale_item.end - Date.now())/1000;
        this.calc_time_left()
      }, 1000)
      

    }
    
  },
  computed: {
    
     ...mapGetters(["metamask_account"]),
    
    isBuyDisabled() {
      if (this.isBalanceLow)
        return "bg-gray-400 opacity-50 cursor-not-allowed uppercase";
      if (this.isButtonEnded)
        return "bg-gray-400 opacity-50 cursor-not-allowed uppercase";
      return "bg-green-700 hover:bg-green-800 active:bg-green-900 uppercase";
    },
    cardAmountLabel() {
      if (this.sale_item.pricing_model === 'fixed-price') return `${this.PRICE}: ${this.sale_item.price}`
      if (this.sale_item.pricing_model === 'auction' && !this.leadingBid) return `${this.BID}: 1`
      if (this.sale_item.pricing_model === 'auction' && this.leadingBid) return `${this.BID}: ${this.leadingBid}`
    },
    isBidDisabled() {
      if (this.isBalanceLow)
        return "bg-gray-400 opacity-50 cursor-not-allowed uppercase";
      if (this.isButtonEnded)
        return "bg-gray-400 opacity-50 cursor-not-allowed uppercase";
      return "bg-green-700 hover:bg-green-800 hover:text-white uppercase";
    },
    isBalanceLow() {
      if (this.balance == "0") return true;
      if (this.balance < this.sale_item.price) return true;
      return false;
    },
    
    
    
    
  },
  
  created() {
     this.calc_time_left();
       nw_util.get_leading_bid(this.sale_item.sale_id)
      .then((result) => {
        
        
        this.leadingBid = result.data.leading_bid;
        this.leadingBidReady = true;
       
      })
      .catch((err) => {
        console.log("error getting leading bid: ", err);
      });
      
    nw_util.get_bids(this.sale_item.sale_id).then((result) => {
      this.bids = result
    })
  },
  data() {
    return {
      moment,
      tooltipShow: false,
      tooltipContent: "Your balance is insufficient",
      img: "https://province-imgs.ams3.digitaloceanspaces.com/land_img.png",
      ITEM: "Item",
      START_TIME: "Start Time",
      END_TIME: "End Time",
      PRICE: "Price",
      BUY: "Buy",
      BID: "Bid",
      CLOSED: "Closed",
      showBidModal: false,
      showBuyModal: false,
      leadingBid: null,
      leadingBidReady: false,
      bids: [],
      timeleft: 0
    };
  },
  
  
  
};
</script>
