<template>
    <SalesCardContent
      :sale_item="sale_item"
      :filterCondition="filterCondition"
      :filter="filter"
      :isButtonEnded="isButtonEnded"
      :balance="balance"
    />
        
</template>

<script>
import moment from "moment";
import SalesCardContent from "./SalesCardContent.vue";

export default {
  name: "SalesItem",
  components: { SalesCardContent },
  props: ["sale_item", "filter", "balance"],
  computed: {
    isActive() {
      
      /*
      const end = moment(this.sale_item.end).format("YYYY-MM-DD");
      const diff = moment().isBefore(end);
      if (diff) return true;
      */
      
      if( this.sale_item.state=="created" ) return true
      if( this.sale_item.state=="ended" ) return false;
      if( Date.now() > this.sale_item.end ) return false
      return false;
    },
    
    
    filterCondition() {
      if (this.filter === "all") return true;
      if (this.isActive && this.filter === "active") return true;
      if (!this.isActive && this.filter === "ended") return true;
    },
    isButtonEnded() {
      if( this.sale_item.state=="ended" ) return true;
      if (!this.isActive && this.filter === "ended") return true;
      if(!this.isActive) return true;
      return false;
    }
  },
};
</script>
