<template>
    <select v-bind="{...$attrs, onChange: ($event) => { $emit('update:modelValue', $event.target.value) } }" :value="modelValue" :class="classes">
        <option v-for="option in options" :key="option" :value="option" :selected="option === modelValue">{{ option }}</option>
    </select>
</template>

<script>
import { defineComponent, reactive } from 'vue'

export default defineComponent({
    name: 'select',
    props: {
        modelValue: {
            type: [String, Number],
            default: ''
        },
        options: {
            type: Array,
            required: true
        }
    },
    setup (props) {
        props = reactive(props);
        return {
        }
    }
})
</script>

<style scoped>

</style>