<template>
  <AppLayout />
</template>

<script>
import { defineComponent } from 'vue'
import AppLayout from './layouts/appLayout.vue'

export default defineComponent({
  components: { AppLayout },
  setup() {
    return { }
  }
})
</script>
