@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="number"],
  [type="date"],
  select {
    @apply bg-transparent placeholder:text-slate-400 font-normal rounded-md w-full h-10 px-2.5 py-2 shadow-sm border border-gray-300 focus:outline-none focus:border-green-500 focus:ring-1 focus:ring-green-500 transition duration-300 ease-in !important;
  }
}

body {
  @apply bg-[#dbe2e2];
}