<template>
    <component :is="layout">
        <router-view />
    </component>
</template>

<script lang="ts">
import { defineComponent, markRaw, ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import DefaultLayout from './defaultLayout.vue'
export default defineComponent({
    setup () {
        const layout = ref()
        const route = useRoute()
        watch(
            () => route.meta?.layout as string | undefined,
            async (metaLayout) => {
                try {
                    const component = metaLayout && await import(/* @vite-ignore */ `./${metaLayout}.vue`)
                    layout.value = markRaw(component?.default || DefaultLayout)
                } catch (e) {
                    layout.value = markRaw(DefaultLayout)
                }
            },
            { immediate: true }
        )
        return {
            layout
        }
    }
})
</script>