<template>
    <slot></slot>
</template>

<script>
import { defineComponent, onMounted } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

export default defineComponent({
    name: "auth-layout",
    setup() {
        const store = useStore()
        const router = useRouter()
        onMounted(() => {
            if(store.state.metamask_install_status && store.state.metamask_account.connected_status) {
                router.push({ path: '/' })
            }
        });
        return {};
    },
})
</script>

<style scoped>
</style>