<template>
    <div class="container mx-auto">
        <navbar></navbar>
        <slot />
    </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

export default defineComponent({
    name: "default-layout",
    setup() {
        const store = useStore()
        const router = useRouter()
        onMounted(() => {
            if(!store.state.metamask_account.connected_status) {
                router.push({ path: '/auth' })
            }
        });
        return {
            
        };
    },
})
</script>
