/* body {
  font-family: Arial, Helvetica;
  font-size: 12px;
  background: #dbe2e2;
  padding: 30px;
  margin: 20px 0 20px 0;
}

.nav_button {
  background-color: #1a7c34;
  color: white;
  border: none;
  border: 2px;
  padding: 2px 8px;
}

.nav_button:hover {
  background-color: #1a7c34;
  color: #7ed957;
  border: none;
  border: 2px;
  padding: 2px 8px;
  
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}


.navmenu {
  margin: 20px 0 20px 0;
}

.mapster_tooltip {
  border: 0px !important;
  padding: 10px !important;
  font-family: Arial, Helvetica !important;
}


.imtip {
  position: absolute;
  bottom: 0;
  right: 0;
}
 */
