.title{
  text-align: center;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.time{
  display: flex;
  flex-direction: row;
}
.time-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50x;
}
.time-section-right {
  border-right: 1px solid grey;
}
.content {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
img {
  width: 100%;
  height: 100%;
}
button {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  margin-top: auto;
  width: 100%;
  height: 25px;
  color: white;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.bid {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;
}