 /* body {
        font-family: Arial, Helvetica;
        font-size: 12px;
      }
      h1 {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 13px;
        font-weight: bold;
      }
      input[type='text'] {
        width: 30px;
      }
      
      table {
        border-collapse: collapse;
        width: 100%;
      }
      td {
        padding: 6px;
      }
      
      tr {
        border-bottom: 1px solid #1a7c34;
      }
      div.label {
        clear: both;
        float: left;
        width: 10px;
        height: 24px;
        margin-top: 5px;
      }
      div.input {
        float: left;
        height: 24px;
        margin-top: 5px;
      }

.flashing_true {
  animation: blinker 1s linear infinite;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
} */